/*
 *
 * Global Styles
 *
 */

html {
	font-family: sans-serif;
  font-size: 16px;
	line-height: 1.6;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

.single-post a {
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted rgba(0,0,0,0.5);
	transition: all 0.3s ease-in-out;
}

.single-post a:hover {
	color: #3498db;
	border-bottom: 1px solid #3498db;
}

/*
 *
 * Search Styles
 *
 */

.search form {
	display: flex;
	align-items: stretch;
	justify-content: center;
	align-items: stretch;
}

input[type="text"] {
	padding: 20px;
	width: 70%;
	border-radius: 0;
	border-color: rgb( 51, 51 ,51 );
	color: rgb(52, 73, 94);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	outline: 0;
}

input[type="submit"] {
	-webkit-appearance: none;
	width: 100%;
	max-width: 30%;
	background-color: rgb(41, 128, 185);
	border-radius: 0;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	border: 0;
	transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
	background-color: rgb(52, 73, 94);
	cursor: pointer;
}

/*
 *
 * Posts List Styles
 *
 */

.results {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.post {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 2px dotted #2c3e50;
}

.post a {
	display: block;
	color: #f54848;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.post a:hover {
	color: #0093c9;
}

/*
 *
 * Single Post Styles
 *
 */

.alignright {
	float: right;
  margin: 0 0 1.875rem 1.875rem;
}

.wp-caption-text {
	font-size: 0.75rem;
	padding: 0.625rem 0.3125rem;
	opacity: 0.8;
}
